.cartas {
    background-color: #D9D9D9;
    color: black;
}

.alturaMin {
    min-height: 25rem;
}

.anchoMin {
    width: 50rem ;
}

.anchoMinRecetas {
    width: 30rem ;
}

.imagenPerfil {
    max-width: 10rem;
}

.imagenSemana {
    max-width: 10rem;
}

.iconos{
    font-size: 1.5rem;
    color:  black;
}

.iconoPointer{
    cursor: pointer;
}

