.cartas {
    background-color: #D9D9D9;
    color: #796666;
}

.alturaMin {
    min-height: 25rem;
}

.anchoMin {
    width: 50rem ;
}

.imagenPerfil {
    max-width: 10rem;
}

.imagenSemana {
    max-width: 10rem;
}