.footerColor{
    background: #C3D9C8 !important;
    font-family: 'Pompiere', 'normal';
    
}

.textoTamañoMediano{
    font-size: 1.5rem;
}

.footerFontColor{
    color:black !important;
    
}

.textoTamañoGrande{
    font-size: 2rem;
}