/* 
    General Styles
*/
body {
    font-family: 'Pompiere', 'normal';
    background:  #E9E3CF;
}
.sidebar{
    position: absolute;
    width: 402px;
    height: 838px;
    left: 0px;
    top: 94px;
}
