/* 
    General Styles
*/
body {
    font-family: 'Pompiere', 'normal';
    background-color: #f0e4cc;
}
.sidebar{
    position: absolute;
    width: 402px;
    height: 838px;
    left: 0px;
    top: 94px;
    background: #A4CAB1;
}
