/* 
    General Styles
*/
body {
    font-family: 'Pompiere', 'normal';
    background: #E9E3CF;
}

#sidebar-container {
    background: #A4CAB1;
}

.sidebar {
    position: absolute;
    width: 402px;
    height: 838px;
    left: 0px;
    top: 94px;
}

.card-group {
    text-align: justify;
}

.card-body h5 {
    color: green;
}

.card-group img {
    padding: 20px;
    border-radius: 20px;
}

.logo h3 {
    color: green;
}

.navbar {
    text-align: justify;
    padding-left: 150px;
    padding-right: 50px;
}

.list-group img {
    width: 50px;
    height: 50px;
}

.list-group{
    font-size: large;
    text-align: justify;
}
.list-group-item {
    display: flex;
    align-items: flex-start;
    border: none;
    background: #A4CAB1;
}
/* .carousel-inner img {
    border-radius: 5%;
} */
.footer{
    position: relative;
}