output{
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
  }
  
  output .image{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    margin-left: 90px;
  }
  
  output .image img{
    height: 100%;
    width: 100%;
  }
  
  output .image span {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
    font-size: 22px;
    color: white;
  }
  
  output .image span:hover {
    opacity: 0.8;
  }
  
  output .span--hidden{
    visibility: hidden;
  }
 .input-container {
    position: absolute;
    bottom: 0;
  }
  .text-container {
    position: relative;
  }
  /* span{
    font-size: 50px;
  } */